body
{
  color: rgb(255, 163, 4);
  background: #eefc26;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px solid black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.gesture
{
  font-size:48px;
}
.title {
  width: 400px;
  font-size: 20px;
  border-radius: 15px;
}

